.card {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: #0000000d 0px 6px 24px 0px,
                #00000014 0px 0px 0px 1px;
}

#pageNumbers {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.pgNo {
    background-color: #ffffff;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}