<h1>Course Details</h1>

<div id="container">
    <label>Course Name: </label> {{ course.name }} <br>
    <label>Course Professor: </label> {{ course.professor }} <br>
    <label>Course Description: </label> {{ course.description }} <br>

    <div id="courseLinks">
        <label>Course Links: </label>
        <div class="courseLink" *ngFor="let courseLink of course.links">
            -> {{ courseLink.className }}:<br>
            
            <iframe width="560" height="315" [src]='videoURL(courseLink.classLink)'
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>