<span id="leftPanel">
    <span class="material-icons">dashboard</span>
    <ul>
        <a [routerLink]="['/tutoring-scripts']"><li>Tutoring Scripts Home</li></a>
        <!-- <a *ngIf="role==='professor' || role==='admin'"  -->
        <a [routerLink]="['/tutoring-scripts/add-new-course']"><li>Add New Course</li></a>
        <a *ngIf="role==='professor' || role==='admin'"
            [routerLink]="['/tutoring-scripts/update-courses']"><li>Update Course</li></a>
    </ul>
</span>

<span id="outerContainer">
    <router-outlet></router-outlet>
</span>