div {
    display: inline-block;
    padding: 15px 25px 35px;
    line-height: 2.5;
    letter-spacing: 1.2;
    background-color: #ffffffb2;
    border-radius: 5px;
    box-shadow: #0000001a 0px 4px 12px;
}

label {
    margin: 5px;
}

img {
    width: 32px;
}