<!-- name, passsword, gender, email, dob, role -->
<h1>Sign Up Form</h1>
<form (ngSubmit)="submitForm()">
    <label for="uname">Name:</label> <br>
    <input type="text" placeholder="Enter Full Name ..."
        id="uname" name="uname" [(ngModel)]="user.name"> <br>

    <label for="email">Email:</label> <br>
    <input type="text" placeholder="Enter email ..."
        id="email" name="email" [(ngModel)]="user.email"> <br>

    <label for="pwd">Password:</label> <br>
    <input type="text" placeholder="Enter Password ..."
        id="pwd" name="pwd" [(ngModel)]="user.password"> <br>
        
    <label for="gender">Gender:</label> <br>
    <input type="radio" name="gender" id="male" value="male" 
        [(ngModel)]="user.gender">
    <label for="male">Male</label> <br>

    <input type="radio" name="gender" id="female" value="female" 
        [(ngModel)]="user.gender">
    <label for="female">Female</label> <br>

    <input type="radio" name="gender" id="other" value="other" 
        [(ngModel)]="user.gender">
    <label for="other">Other</label> <br>

    <label for="dob">Date of Birth: </label> <br>
    <input type="date" name="dob" id="dob" [(ngModel)]="user.DOB"> <br>

    <label for="role">Role:</label> <br>
    <select name="role" id="role" [(ngModel)]='user.role'>
        <option value="student">Student</option>
        <option value="professor">Professor</option>
        <option value="librarian">Librarian</option>
        <option value="warden">Warden</option>
        <option value="admin">Admin</option>
    </select> <br>

    <label for="motherName">Mother Name: </label> <br>
    <input type="text" name="motherName" id="motherName" [(ngModel)]="user.motherName"> <br>

    <label for="fatherName">Father Name: </label> <br>
    <input type="text" name="fatherName" id="fatherName" [(ngModel)]="user.fatherName"> <br>

    <input type="submit" value="Register" id="register">
</form>