<!-- name, passsword, gender, email, dob, role -->
<h1>Sign Up Form</h1>
<form id="container" (ngSubmit)="submitForm()">
    <label for="uname">Name:</label> <br>
    <input type="text" placeholder="Enter Full Name ..."
    required id="uname" name="uname" [(ngModel)]="user.name">
    <span>This field is required</span> <br>

    <label for="email">Email:</label> <br>
    <input type="text" placeholder="Enter email ..."
    required id="email" name="email" [(ngModel)]="user.email"
    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    <span>Enter the right email address</span> <br>

    <label for="pwd">Password:</label> <br>
    <input type="text" placeholder="Enter Password ..."
    required id="pwd" name="pwd" [(ngModel)]="user.password">
    <span>This field is required</span> <br>
        
    <div id="gender">
        <label for="gender">Gender:</label> <br>
        <input type="radio" name="gender" id="male" value="male" 
        required
            [(ngModel)]="user.gender">
        <label for="male">Male</label>

        <input type="radio" name="gender" id="female" value="female" 
        required
            [(ngModel)]="user.gender">
        <label for="female">Female</label>

        <input type="radio" name="gender" id="other" value="other" 
        required
            [(ngModel)]="user.gender">
        <label for="other">Other</label>
    </div>

    <label for="dob">Date of Birth: </label> <br>
    <input type="date" name="dob" id="dob" [(ngModel)]="user.DOB"> <br>

    <label for="role">Role:</label> <br>
    <select name="role" id="role" [(ngModel)]='user.role'>
        <option value="student">Student</option>
        <option value="professor">Professor</option>
        <option value="librarian">Librarian</option>
        <option value="warden">Warden</option>
        <option value="admin">Admin</option>
    </select> <br>

    <label for="motherName">Mother Name: </label> <br>
    <input type="text" name="motherName" id="motherName" [(ngModel)]="user.motherName"
    required>
    <span>This field is required</span> <br>

    <label for="fatherName">Father Name: </label> <br>
    <input type="text" name="fatherName" id="fatherName" [(ngModel)]="user.fatherName"
    required>
    <span>This field is required</span> <br>

    <div id="center">
        <input type="submit" value="Sign Up" id="register">
    </div>
</form>