#container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    min-height: 91vh;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #393E46;
    text-shadow: 0 0 10px #ffffff;
}

li {
    margin: 0 0 10px -10px;
}

li::before {
    content: "-> ";
}

#leftPanel {
    min-width: 250px;
    border: 2px solid black;
    transition: margin 1s ease-in;
    position: sticky;
    top: 0;
}

#outerContainer {
    flex-grow: 1;
    padding: 20px;
}