<div id="nav-bar">
    <a class="nav-link" [routerLink]="['/home']">
        <span class="icon material-icons">home</span>
    </a>

    <a class="nav-link" [routerLink]="['/library']">Library</a>
    <a class="nav-link" [routerLink]="['/tutoring-scripts']">Online Tutoring Scripts</a>
    <a class="nav-link" [routerLink]="['/hostel']">Hostel Booking</a>

    <!-- <a href=""> -->
        <span id="signInIcon" class="icon material-icons">account_circle</span>
        <div id="signInDiv">
            <ul>
                <a [routerLink]="['/signup']"><li>Sign Up</li></a>
            </ul>
            <ul>
                <a [routerLink]="['/signin']"><li>Sign In</li></a>
            </ul>
            <ul>
                <li (click)="logout()">Logout</li>
            </ul>
        </div>
    <!-- </a> -->
</div>
<router-outlet></router-outlet>