<h1>SCHOOL LOGISTICS</h1>

<div id="container">
    <a [routerLink]="['/library']">
        <div id="library" class="card">
            <img src="../assets/Library-icon.svg" alt="Library Icon">
            <h2>Library</h2>
        </div>
    </a>

    <a [routerLink]="['/tutoring-scripts']">
        <div class="card">
            <img src="../assets/online-tutoring-icon.svg" alt="Tutoring Scripts Icon">
            <h2>Online Tutoring Scripts</h2>
        </div>
    </a>
    
    <a [routerLink]="['/hostel']">
        <div class="card">
            <img src="../assets/hostel-icon.svg" alt="Hostel Icon">
            <h2>Hostel Booking</h2>
        </div>
    </a>
</div>