h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card > img {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.card {
    text-align: center;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    cursor: pointer;
    margin: 20px;
    padding-bottom: 20px;
}

a {
    color: black;
    text-decoration: none;
}